header
    // padding: 30px 0px 0px 0px

    .menu
        padding: 10px 0
        height: 70px
        background-color: black
        position: fixed
        right: 0
        left: 0
        z-index: 1
        .imgbox
            width: 140px
            margin-left: 120px
        nav
            margin-right: 100px
            a
                margin: 0px 27px 0px 15px
                font-weight: 100
                font-size: 18px
