header
    // padding: 30px 0px 0px 0px

    .menu
        position: fixed
        bottom: 0
        right: 0
        // padding: 0px 0px 10px 0px
        // border: 2px solid black 
        // height: 100px
        // background-color: #212529
        .imgbox
            width: 187px
            height: 100px
        nav
            a
                margin-right: 30px
