header
    .box
        width: 100px
        height: 100px
        padding: 30px 0 0 0
        background-color: #181212
        .imgbox
            width: 187px
            height: 100px
        nav
           a
            color:
