#welcome
    background-image: url("/assests/home.jpg")
    background-position: center center
    background-size: cover
    .box
        height: 750px

        .textbox
            h1
                color: #ffffff
                font-weight: 300
                font-size: 39px
            h2
                color: #ffffff
                font-size: 95px
                font-weight: 700
                margin: 23px 1px 15px 0px
        .btn
            border: 1px solid #ffc800
            padding: 13px 60px
            background-color: #ffc800
            transition: 2s
            h3
                text-align: center
                font-size: 24px
                font-weight: 700
                margin: 12px 0px 0px 0px
                color: #ffffffff

            &:hover
                cursor: pointer
                background-color: #d9aa00
    @media screen and ( max-width: 576px )
        .box
            .textbox
                h1
                    font-size: 35px
                h2
                    font-size: 70px
