#welcome
    .box
        background-image: url("../../../assests/home.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        height: 750px
        .textbox
            h1
                color: #ffffffff
                font-weight: 300
                font-size: 46px
                position: relative
                top: 264px
                left: 568px
