#welcome
    .box
        background-image: url("../../../assests/home.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        height: 750px
        .textbox
            h1
                color: #ffffffff
                font-weight: 300
                font-size: 46px
                position: relative
                top: 264px
                left: 568px
        .textbox2

            h2
                color: #ffffffff
                font-weight: 700
                font-size: 90px
                position: relative
                top: 295px
                left: 340px
        .btn
            border: 1px solid #ffc800
            width: 222px
            height: 68px
            position: relative
            top: 342px
            left: 657px
            background-color: #ffc800
            transition: 2s
            h3
                text-align: center
                font-size: 20px
                margin: 12px 0px 0px 0px
                color: #ffffffff

            &:hover
                cursor: pointer
                background-color: #d9aa00
